/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "DM Serif Text", serif;
  background: #303237;
  color: #fff;
}

h4 {
  font-size: 1.4rem;
  padding-top: 10px;
  padding-bottom: 10px;
}

p {
  font-size: 0.73rem;
  line-height: 1.3em;
}

.container {
  margin: auto;
  max-width: 1550px;
  overflow: auto;
  padding: 0 20px;
}

#grid {
  padding: 20px 0;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.box {
  text-decoration: none;
  color: inherit;
  display: block;
  position: relative;
  background: #2a2b2f;
  padding: 20px 15px 43px;
  border: 2px solid #474f58;
  border-radius: 8px;
  transition: transform 0.2s ease;
  overflow: hidden; 
}

.box:hover {
  transform: translateY(-5px);
}

.box img {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  object-fit: cover;
}

/* Tags */
.tech-tags {
  margin-top: 10px;
  display: flex;
  gap: 8px;
}

.tech-tags {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  gap: 6px;
}

.tag {
  padding: 3px 10px;
  font-size: 0.7rem;
  font-weight: 600;
  border-radius: 10px;
  color: #383838;
  user-select: none;
}

.tag.html {
  background-color: #fdd9a0;
}

.tag.css {
  background-color: #a0d7fd;
}

.tag.js {
  background-color: #fff1a0;
}

.tag.Dedicatorias {
  background: linear-gradient(45deg, #ffb6c1 ,#ff899b, #fa3b58);
}

.tag.Visual-Effects {
  background: linear-gradient(45deg, #00f7ff, #c0b0f6);
}

.tag.Videojuegos {
  background: linear-gradient(45deg, #9cf9c4, #b597f5, #d2f994);
}

/*Iconos*/
.heart1 {
	position: absolute;
	font-size: 13px;
	color: red;
	right: -3px;
	top: 13px;
	animation: latido 1.5s infinite, brilloDedicatorias 1.5s infinite;
}

.heart2 {
	position: absolute;
	font-size: 13px;
	color: red;
	right: 71px;
	bottom: 11px;
	animation: latido 1.5s infinite, brilloDedicatorias 1.5s infinite;
}

.star1 {
	position: absolute;
	font-size: 13px;
	color: yellow;
	right: -3px;
	top: 12px;
  animation: brilloVisual-Effects 1.5s infinite;
}

.star2 {
	position: absolute;
	font-size: 13px;
	color: yellow;
	right: 76px;
	bottom: 13px;
  animation: brilloVisual-Effects 1.5s infinite;
}

.invader1 {
	position: absolute;
	font-size: 13px;
	color: #4e7371;
	right: -2px;
	top: 11px;
  animation: brilloVideojuegos 1.5s infinite;
}

.invader2 {
	position: absolute;
	font-size: 13px;
	color: #4e7371;
	right: 69px;
	bottom: 12px;
  animation: brilloVideojuegos 1.5s infinite;
}

/*Animaciones*/

@keyframes latido {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

@keyframes brilloDedicatorias {
  0%, 100% {
    text-shadow: 0 0 3px #ff8fb1, 0 0 6px #ff4f81, 0 0 9px #ff99c8;   
    transform: scale(1);
  }
  50% {
    text-shadow: 0 0 6px #ff8fb1, 0 0 12px #ff4f81, 0 0 18px #ff99c8;
    transform: scale(1.1);
  }
}

@keyframes brilloVisual-Effects {
  0%, 100% {
    text-shadow: 0 0 3px #ffcc70, 0 0 6px #fbb32d, 0 0 9px #ff7e5f;
    transform: scale(1);
  }
  50% {
    text-shadow: 0 0 6px #ffcc70, 0 0 12px #fbb32d, 0 0 18px #ff7e5f;
    transform: scale(1);
  }
}

@keyframes brilloVideojuegos {
  0%, 100% {
    text-shadow: 0 0 3px #b597f5, 0 0 6px #9cf9c4, 0 0 9px #d2f994;
    transform: scale(1);
  }
  50% {
    text-shadow: 0 0 6px #b597f5, 0 0 12px #9cf9c4, 0 0 18px #d2f994;
    transform: scale(1.1);
  }
}
