*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("https://i.imghippo.com/files/uVJj8364QGw.png") no-repeat center center;;
}
img {
    width: 300px;
    height: auto;
    cursor: pointer;
    filter: drop-shadow(0 0 15px #00BFFF) drop-shadow(0 0 25px #1E90FF);
    transition: all 0.3s ease;
    margin-bottom: 20px;
    animation: latido 1.5s infinite ease-in-out;
    }       
        
@keyframes latido {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.08);
        }
    }
/* ?? Fondo de corazones cayendo */
.snow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
    background: transparent;
    overflow: hidden;
}

.snow span {
    position: absolute;
    top: -50px;
    opacity: 0.7;
    animation: fall linear infinite;
    font-size: 2em;
}

@keyframes fall {
    to {
        transform: translateY(110vh) rotate(360deg);
    }
}
